GOOSE_DBSTRING=postgres://admin:password@localhost:5432/tickets_db?sslmode=disable
REDIS_URL=localhost:6379
PORT=8888
API_TEST=false
ACCESS_TOKEN_SECRET=change-me
REFRESH_TOKEN_SECRET=change-me-too
ACCESS_TOKEN_EXPIRY=15m
REFRESH_TOKEN_EXPIRY=168h
